certifi==2020.12.5
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib
MarkupSafe
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy
pandas
python-dateutil==2.8.1
pytz
scikit-learn==0.24.0
scipy==1.6.0
six
threadpoolctl
Werkzeug==1.0.1
wincertstore==0.2
